<footer class="footer">

    <div class="container">
        <span class="footer__copyright">&#169</span>
        <p class="footer__text">2023</p>
        <p class="footer__text">All Rights Reserved</p>
        <p class="footer__text">Developed with</p>

        <!-- !!!!change on svg!!!!!!! -->
        <span>&#129505</span>
        <!-- !!!!!!!!!!! -->
        <svg class="footer__icon">
            <use></use>
        </svg>
        <p class="footer__text">by</p>
        <a href="" class="footer__link">GoIT student Oleksandr Novichenko
        </a>
    </div>

</footer>