<footer class="footer">

    <div class="container footer__wrap">

        <p class="footer__text">&#169 2020 | All Rights Reserved |</p>

        <p class="footer__text">Developed

            <svg class="footer__icon">
                <use href="./images/sprite.svg#icon-heart"></use>
            </svg>
            by&nbsp
            <a href="https://www.linkedin.com/in/oleksandr-novychenko/" class="footer__link" target="_blank">GoIT
                student Oleksandr
                Novychenko
            </a>
        </p>
    </div>

</footer>