.gallery {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery__list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   gap: 30px;

  list-style: none;
}

.card a {
  text-decoration: none;
  color: var(--dark-text-color);
}
.card {
  padding-bottom: 20px;
}

.card__img {
  margin-bottom: 10px;
  width: 280px;
  height: 400px;

  border-radius: 5px;
}
.card__info {
  line-height: 1.33;
}
.card__title {
  text-transform: uppercase;
}

.card__inner,
.card__inner a {
  color: var(--accent-color);
}

.card__genres {
  display: none;
}

.card__genres:nth-child(-n + 2) {
  display: inline-block;
}
