.gallery {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery__list {
  list-style: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.card a {
  text-decoration: none;
  color: var(--dark-text-color);
}
.card {
  padding-bottom: 20px;
}

.card__img {
  margin-bottom: 10px;
  width: 280px;
  height: 400px;

  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
    height: 574px;
  }
}

.card__title {
  width: 100%;
  text-transform: uppercase;
  line-height: 1.33;
}

.card__description {
  color: var(--accent-color);
}

.card__genre.card__genre_link {
  text-decoration: none;
  color: var(--accent-color);
}
