.header {
  padding-top: 40px;
  padding-bottom: 44px;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url('../images/header-bg-mob.jpg');

  background-color: var(--dark-text-color);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/header-bg-mob@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/header-bg-tab.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/header-bg-tab@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/header-bg-desctop.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/header-bg-desctop@2x.jpg');
  }
  //
}

.logo {
  text-decoration: none;
}

.logo__name {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: 8px;

    font-size: 30px;
    line-height: 1.17;

    color: #ffffff;
  }
  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
}

.logo__img {
  width: 24px;
  height: 24px;

  fill: var(--light-text-color);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  column-gap: 40px;
}

.header__link {
  position: relative;

  color: #ffffff;
  font-family: 'Roboto';
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
}
.header__link_current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;

  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: var(--eror-text-color);
}

.header__form {
  position: relative;

  margin-right: auto;
  margin-left: auto;
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 280px;
  width: 100%;
  height: 20px;

  @media screen and (min-width: 320px) {
    width: 280px;
    max-width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
    margin-top: 40px;
  }
}

.header__input {
  max-width: 280px;
  width: 100%;
  height: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid var(--light-text-color);
  color: var(--light-text-color);
  outline: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.15px;

  @media screen and (min-width: 320px) {
    width: 280px;
    max-width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 768px) {
    width: 394px;
  }
}

.header__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15px;

  color: var(--light-text-color);
}

.header__btn {
  position: absolute;
  bottom: 6px;
  right: 0;

  border: none;
  line-height: 0;
  background-color: transparent;

  cursor: pointer;
}

.header__search {
  width: 12px;
  height: 12px;

  fill: var(--light-text-color);
}

.header__error {
  margin-top: 16px;

  max-width: 280px;
  width: 100%;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: #ff001b;

  @media screen and (min-width: 320px) {
    width: 280px;
    max-width: 100%;
  }

  @media screen and (min-width: 768px) {
    margin-top: 20px;
    width: 336px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    text-align: center;
  }
}
