<header class="header">
    <div class="container">

        <a href="./index.html" class="logo">
            <svg class="logo__img">
                <use class="logo__icon"></use>
            </svg>
            <span class="logo__name">Filmoteka</span>
        </a>

        <nav class="header__nav">
            <a href="" class="header__home">home</a>
            <a href="" class="header__library">my library</a>
        </nav>

        <form class="header__form">
            <input class="header__input" type="text" placeholder="Movie search">
            <button type="submit"></button>
        </form>

        <p class="header__result">Search result not successful. Enter the correct movie name and</p>

    </div>
</header>